<div class="notFoundContainer">
    <h1>Eror: 404</h1>
    <p class="p404">{{this.user.name}} la siguiente página:{{this.url}} no existe</p class="p404">
    <button class="buttonBlack" onclick="backHome()">Volver al Home</button>
</div>