<div class="formContainerCheckout">
    <div id="card-element" class="formInput"></div>
    <button class="buttonForm" onclick="purchaseProducts('{{user.cartId}}')">Comprar</button>
</div>

<script src="https://js.stripe.com/v3/"></script>
<script src="/js/purchase.js"></script>