
<form class="formContainer" id="formForgot"> 
    <h1 class="formTitle">Restablecer Contaseña</h1>
    <input type="text" placeholder="Email" name="userEmail" class="formInput" id="userEmail" required />
    <button class="buttonForm" type="submit">Recuperar Contraseña</button>
    <p>Recordaste tu contraseña? <a class="linkForm" href="/api/user/login">Ingresá</a></p>
    <p>Ya tiene un token de restablecimiento? <a class="linkForm" href="/api/user/resetPassword">Úsalo</a></p>
    <p>No tenes cuenta? <a class="linkForm" href="/api/user/register">Regístrate</a></p>
</form>
<script src="/js/forgotPassword.js"></script>