<div id="mainContainer">
    <form class="formContainer" id="formLogin">
        <h2 class="formTitle">Ingresá</h2>
        <input type="text" placeholder="Email o Username" name="userEmail" class="formInput" id="userEmail" required />
        <input type="password" placeholder="Contraseña" name="userPassword" class="formInput" id="userPassword" required
            maxlength="20" />
        <button id="togglePasswordButton" type="button"><i class="fas fa-eye"></i></button>
        <button class="buttonForm" type="submit">Ingresar</button>
        <a class="linkForm" href="auth/github">Iniciar sesión con GitHub </a>
        <p>Olvidaste tu contraseña? <a class="linkForm" href="/api/user/forgotPassword">Recupérala</a></p>
        <p>No tienes una cuenta? <a class="linkForm" href="/api/user/register">Regístrate</a></p>
    </form>
</div>
<script src="/js/login.js"></script>