<form class="formContainer" id="formReset">
    <h1 class="formTitle">Restablecer Contaseña</h1>
    <input type="email" placeholder="Email" name="userEmail" class="formInput" id="userEmail" required />
    <input type="text" placeholder="Token" name="token" class="formInput" id="token" required />
    <input type="text" placeholder="Nueva Contraseña" name="userNewPassword" class="formInput" id="userPassword"
        required />
    <input type="text" placeholder="Repetir Contraseña" name="userNewPasswordRepeat" class="formInput" id="userRepeat"
        required />
    <button class="buttonForm" type="submit">Cambiar Contraseña</button>
    <p>No tiene un token? <a class="linkForm" href="/api/user/forgotPassword">Genéralo</a></p>
</form>
<script src="/js/resetPassword.js"></script>