* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

html {
    font-size: 62.5%;
}

body {
    background-color: #f1f1f1;
}

:root {
    --main-color: #efa51e;
    --black: #1c1c1c;
    --white: #f5f5f5;

}

a {
    text-decoration: none;
    list-style: none;
    color: var(--white);
    cursor: pointer;
}

li {
    list-style: none;
}

p,
a,
h3,
input,
li,
td,
th,
div#swal2-html-container {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
}

.swal2-popup.swal2-modal.swal2-show {
    width: 500px;
}

.swal2-actions {
    flex-direction: column-reverse;
}

h3,
th {
    font-weight: 600;
    font-size: 2.5rem;
}

h1,
h2,
h2#swal2-title {
    font-family: 'Antonio', sans-serif;
    font-size: 3rem;
}

h1 {
    font-size: 4rem;
    text-align: center;
}

h2#swal2-title {
    color: var(--main-color)
}

div#swal2-html-container {
    color: var(--white);
    font-size: 2rem;
}

.swal2-popup.swal2-modal.swal2-show {
    padding: 1.5rem
}

.nav {
    background-color: var(--black);
    padding: 2rem;
    margin-bottom: 1.5rem;
}

.navListContainer {
    display: flex;
}

.listCartLogout,
.listMenu {
    display: flex;
    align-items: center;
    gap: 2.5rem;
}

.listMenu {
    width: 80%;
    justify-content: start;
}

.listCartLogout {
    width: 20%;
    justify-content: end;
}

.iconCart {
    width: 3rem;
    transition: transform .3s;
}

.iconCart:hover {
    transform: scale(1.1);
}

.floating-button {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background-color: var(--black);
    color: var(--white);
    border: none;
    border-radius: 50%;
    padding: 1.5rem;
    font-size: 16px;
    cursor: pointer;
    transition: .3s color;
    
}
.floating-button:hover{
    color: var(--main-color);
}

/*home y products */
.homeContainer {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 23%));
    place-content: center;
    column-gap: 2rem;
    padding: 2rem;
}

.cardContainer {
    width: 100%;
    border-radius: .6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background-color: var(--black);
    padding: 2rem;
    margin: 1rem 0;
    box-shadow: 7px 5px 14px -6px #000000;
}

.cardInformation {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    color: var(--white);

}

.cardImg {
    width: 100%;
    border-radius: .6rem;
}

.cardTitle {
    color: var(--white);
    font-size: 3rem;
}

.cardDescription {
    font-size: 1.6rem;
    font-style: italic;
    color: #ffffffb8;
    text-align: center;
}

.cardPrice {
    font-size: 2rem;
}

.cardButton,
.linkButton,
button.swal2-confirm.swal2-styled,
button.swal2-cancel.swal2-styled {
    width: 100%;
    text-align: center;
    font-size: 2rem;
    background-color: transparent;
    color: var(--white);
    border: 2px solid var(--white);
    cursor: pointer;
    transition: all 0.4s;
    border-radius: .6rem;
    padding: 1rem;
    font-family: 'Antonio', sans-serif;
}

button.swal2-confirm.swal2-styled:focus {
    box-shadow: none;
    outline: none;
}

.linkButton {
    background-color: var(--black);
    color: var(--white);
    margin: 0 auto;
    padding: 2rem;
}

.cardButton:hover,
button.swal2-confirm.swal2-styled:hover {
    color: var(--main-color);
    border: 2px solid var(--main-color);
}

button.swal2-cancel.swal2-styled:hover {
    color: #fc3030;
    border: 2px solid #fc3030;
}

.linkButton:hover {
    color: var(--main-color);
}

.formTitle {
    color: var(--main-color)
}

.filterContainer,
.orderQuery,
.orderPrice,
.filterButtonsContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.buttonFilters {
    padding: 1rem;
    font-size: 1.8rem;
    text-align: start;
    cursor: pointer;
    font-weight: 600;
    border-radius: .6rem;
    transition: all linear .4s;
}

.buttonFilters:hover {
    background-color: var(--black);
    color: var(--main-color);
}

.removeFilters:hover {
    color: #fc3030
}

/* realTimeProducts */
.formContainer {
    display: flex;
    width: 50%;
    background-color: #1c1c1c;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    box-shadow: 7px 5px 14px -6px #000000;
    margin: 2rem auto;
    padding: 2.5rem;
    border-radius: .6rem;
}

.sectionAdminContainer {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.sectionProductsAdmin, .sectionUsersAdmin {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formInput {
    background-color: transparent;
    color: var(--white);
    border: 2px solid var(--white);
    width: 40%;
    padding: 1rem;
    border-radius: .6rem;
    transition: all .3s;
    text-align: center;
}

.formInput:focus {
    border: 2px solid var(--main-color);
    outline: none;
}

.formInput::placeholder {
    color: #cdcdcd;
    text-align: center;
}

.buttonForm,
.buttonBlack,
.buttonDisabled {
    background-color: var(--white);
    font-size: 2rem;
    padding: 1.5rem;
    border: none;
    cursor: pointer;
    border-radius: .6rem;
    font-family: 'Antonio', sans-serif;
    margin-top: 2rem;
    font-weight: 600;
    transition: background-color .3s;
}

.buttonForm {
    margin-top: 0;
}

.buttonDisabled {
    margin-top: 0;
    background-color: #474747;
    cursor: not-allowed;
    color: #a3a3a3;
    transition: color .3s;
}

.buttonBlack {
    margin-top: 0;
    background-color: var(--black);
    color: var(--white);
    transition: color .3s;
}

.buttonForm:hover {
    background-color: var(--main-color);
}

.buttonBlack:hover {
    color: var(--main-color);
}

/* detail */
p {
    color: #ffffff;
    font-size: 2rem;
}

.sectionDetail {
    padding: 3rem;
}

.sectionContainer {
    display: grid;
    background-color: var(--black);
    grid-template-columns: 30% 65%;
    justify-content: center;
    gap: 5rem;
    border-radius: .6rem;
    box-shadow: 7px 5px 14px -6px #000000;
    padding: 3rem;
}

.imgContainer {
    width: 100%;
    height: 100%;
}

.detailImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 7px 5px 14px -6px #ffffff84;
    border-radius: .6rem;
}

.detailContainer {
    display: flex;
    width: 55%;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 2rem;
    border-radius: .6rem;

}

.detailTitle {
    color: #ffffff;
    font-size: 2.8rem;
}

.detailDescription {
    font-size: 2rem;
}

.detailPrice {
    font-size: 2rem;
    font-weight: bold;
}

.linkForm {
    color: var(--white);
    transition: color linear 0.4s;
    font-size: 1.8rem;
}

.linkForm:hover {
    color: var(--main-color)
}

/* chat */

.containerChat {
    margin: 0 auto;
    background-color: var(--black);
    width: 80%;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-radius: .6rem;
    box-shadow: 7px 5px 14px -6px #000000;
}

.messageContainer {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.chatForm {
    display: flex;
    gap: 1rem;
}

.chatForm .buttonForm {
    margin: 0;
}

svg {
    width: 5rem;
}

.userChat {
    color: var(--white);

}

/* cart */
.productsInCart {
    padding: 2rem;
}

table {
    border-collapse: separate;
    border-spacing: .2rem .5rem;
    text-align: center;
}

.pruductContainer {
    margin-bottom: 2rem;
}

tr {
    background-color: var(--black);
    box-shadow: 7px 5px 14px -6px #000000;
}

td,
th {
    padding: 2rem;
}

td:first-child,
th:first-child {
    border-radius: .6rem 0 0 .6rem;
}

td:last-child,
th:last-child {
    border-radius: 0 .6rem .6rem 0;
}

.cartProductImg {
    width: 150px;
    border-radius: .6rem;
}

.emptyTitle {
    text-align: center;
}

.buttonCartContainer {
    display: flex;
    justify-content: start;
    margin-bottom: 2rem;
}

.emptyCartContainer {
    height: 80vh;
    gap: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.containerQuantity {
    height: 100%;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.paginationContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem
}

/* login */
button#togglePasswordButton {
    background: transparent;
    border: none;
    cursor: pointer;
}

i.fas.fa-eye {
    color: var(--white);
}

i.fas.fa-eye-slash {
    color: var(--main-color);
}